body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: whitesmoke;
  overflow-x: hidden;
}

header {
  height: 12.5vh;
  width: 100vw;
  background-color: rgb(66, 60, 82);
}

nav.nav-bar {
  height: 100%;
  width: 100vw;
  border-bottom: 1px solid rgb(220, 220, 220);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

span.nav-element1 {
  height: 100%;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

span.nav-element2 {
  height: 100%;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1.menu-icon {
  height: 99%;
  width: 15%;
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1.menu-icon:hover {
  background-color: rgb(220, 220, 220);
  color: rgb(66, 60, 82);
}

h1.main-header {
  margin: 0;
  color: whitesmoke;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

h3.sub-header {
  margin: 0;
  color: rgb(175, 175, 175);
  font-size: 1rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

span.nav-element3 {
  height: 100%;
  width: 33%;
}

main.notes {
  height: 100vh;
  width: 100vw;
  display: flex;
}

section.note-column {
  border-right: 1px solid rgb(220, 220, 220);
  height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column;
}

section.column-hidden {
  display: none;
}

div.note-header {
  border-bottom: 2px solid rgb(199, 199, 199);
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2.note-header {
  margin: 0 1rem;
  font-size: 2rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

h2.note-header-icon {
  background-color: whitesmoke;
  height: 95%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

h2.note-header-icon:hover {
  background: rgb(66, 60, 82);
  color: whitesmoke;
  cursor: pointer;
}

div.note-collection {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
  overflow-x: hidden;
}

div.note-collection-text {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(165, 165, 165);
  font-size: 1.75rem;
  font-weight: 700;
  font-style: oblique;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

button.note {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  background-color: rgb(230, 227, 227);
  height: 20%;
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

button.note:hover {
  background-color: rgb(66, 60, 82);
  color: whitesmoke !important;
}

button.selected {
  background-color: rgb(66, 60, 82) !important;
  color: whitesmoke;
}

div.note {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

div.note-sub {
  height: 100%;
  width: 100%;
  padding-top: 15px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

h2.note-property {
  margin: 0;
  font-size: 2.25rem;
  font-family: cursive;
}

h3.note-property {
  margin: 0;
  font-size: 1.125rem;
  font-family: cursive;
  color: gray;
}

p.note-property {
  margin: 0;
  font-size: 1.125rem;
  font-family: cursive;
}

section.notes {
  height: 100%;
  width: 75%;
}

section.main-hidden {
  width: 100vw !important;
}

div.initial-note-space {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2.inital-note-space-text {
  color: rgb(170, 170, 170);
  font-size: 1.5rem;
  font-weight: 700;
  font-style: oblique;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

div.note-body-header {
  border-bottom: 1px solid rgb(220, 220, 220);
  padding-left: 1%;
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

div.title-content {
  height: 100%;
  width: 84%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

input.title-text {
  border: none;
  background-color: whitesmoke;
  height: 50%;
  width: 100%;
  color: black;
  outline: none;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

input.title-text::placeholder {
  background-color: whitesmoke;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

div.title-display-text {
  padding-left: 10px;
  height: 50%;
  width: 100%;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  font-family: cursive;
}

div.time-display-text {
  padding-left: 10px;
  color: gray;
  font-size: 0.875rem;
  font-weight: 700;
  font-family: cursive;
}

div.note-body-display {
  height: 85%;
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 1.125rem;
}

input.date-time {
  background-color: whitesmoke;
  border: none;
  outline: none;
  height: 40%;
  width: 25%;
}

div.button-div {
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button.save {
  height: 100%;
  width: 50%;
  background: none;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  font-family: cursive;
}

button.save:hover {
  background: rgb(66, 60, 82);
  color: whitesmoke;
  cursor: pointer;
}

button.delete {
  height: 100%;
  width: 50%;
  background: none;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  font-family: cursive;
}

button.delete:hover {
  background: rgb(66, 60, 82);
  color: whitesmoke;
  cursor: pointer;
}

button.edit {
  height: 100%;
  width: 50%;
  background: none;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  font-family: cursive;
}

button.edit:hover {
  background: rgb(66, 60, 82);
  color: whitesmoke;
  cursor: pointer;
}

.note-body-editor {
  height: 90%;
  width: 100%;
}