body {
  margin: 0;
  padding: 0;
}

header {
  height: 12.5vh;
}

nav.nav-bar {
  height: 100%;
  border-bottom: 1px solid rgb(135, 135, 135);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

span.nav-element1 {
  height: 100%;
  width: 33%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
}

span.nav-element2 {
  height: 100%;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1.menu-icon {
  margin: 0;
  font-size: 1.75rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

h1.main-header {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

h3.sub-header {
  margin: 0;
  color: rgb(105, 105, 105);
  font-size: 1rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

span.nav-element3 {
  height: 100%;
  width: 33%;
}

main.notes {
  height: 87.5vh;
  display: flex;
}

section.note-column {
  border-right: 1px solid rgb(135, 135, 135);
  height: 100%;
  width: 25vw;
}

div.note-header {
  border-bottom: 2px solid rgb(135, 135, 135);
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2.note-header {
  margin: 0 1rem;
  font-size: 2rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

div.note-collection {
  height: 90%;
  width: 100%;
}

section.notes {
  height: 100%;
  width: 75vw;
}